VITE_SUPABASE_URL=https://jbompalsfnfqdlutfkjq.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Impib21wYWxzZm5mcWRsdXRma2pxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMzODM4OTksImV4cCI6MjA4ODk1OTg5OX0.aJE0nsueKYsT4lumCE7F9t3-KQd1Dkhl8DDyBvp0UzU